*{
  box-sizing: border-box;

}
html,
body,
#root {
  margin: 0;
  min-height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.calendar-grid,
.calendar-weekdays{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}

.calendar-weekdays{
  font-weight: bold;
}

.calendar-weekdays> div{
  padding: 10px;
  text-align: center;
}

.calendar-grid> div{
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
}